:root {
  --sm-space: 1rem;
  --md-space: 2rem;
  color-scheme: dark light;
}

.app {
  height: 100%;
  padding: 2rem 0;
  /* color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.875rem;
}
.movie_contianer {
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster {
  max-width: 80%;
  gap: 1.875rem;
  display: flex;
  align-items: flex-start;
}

.poster > img {
  width: 50%;
  height: auto;
}

.movie_details {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 1rem;
}

.movie_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.movie_title > strong {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.movie_details > p {
  width: 100%;
  font-size: 1.1rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.movie_info > span {
  font-size: 1.1rem;
}

.movie_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checked {
  color: #ffc832;
}

.movie_info {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.genre_section {
  --gap: var(--md-space);
  display: grid;
  grid-gap: var(--gap);
  gap: var(--gap);
  padding: 2rem;
}

.genre_section > header {
  padding-left: var(--gap);
  padding-right: var(--gap);
  display: grid;
  grid-gap: calc(1rem / 2);
  gap: calc(1rem / 2);
  grid-gap: calc(var(--sm-space) / 2);
  gap: calc(var(--sm-space) / 2);
}

.genre_section > header > :is(h2, h3) {
  margin: 0;
}

.horizontal_media_scroller {
  --size: 150px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: calc(var(--gap) / 2);
  gap: calc(var(--gap) / 2);
  margin: 0;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-bottom: calc(var(--gap) / 2);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -ms-scroll-snap-type: inline mandatory;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--gap);
}

.horizontal_media_scroller > li {
  display: inline-block;
}

.horizontal_media_scroller > li:last-of-type figure {
  position: relative;
}

[dir="ltr"] .horizontal_media_scroller > li:last-of-type figure::after {
  right: calc(var(--gap) * -1);
}

[dir="rtl"] .horizontal_media_scroller > li:last-of-type figure::after {
  left: calc(var(--gap) * -1);
}

.horizontal_media_scroller > li:last-of-type figure::after {
  content: "";
  position: absolute;
  width: var(--gap);
  height: 100%;
  top: 0;
  right: calc(var(--gap) * -1);
}

.horizontal_media_scroller figure {
  scroll-snap-align: start;
}

.horizontal_media_scroller a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.horizontal_media_scroller a:focus {
  outline-offset: calc(var(--gap) / 4);
}

@media (prefers-reduced-motion: no-preference) {
  .horizontal_media_scroller a {
    transition: outline-offset 0.25s ease;
  }
}

figure {
  display: grid;
  grid-gap: calc(var(--gap) / 2);
  gap: calc(var(--gap) / 2);
  margin: 0;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

figure > picture {
  width: var(--size);
  height: var(--size);
}

figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1ch;
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    hsl(0, 0%, 40%),
    hsl(0, 0%, 20%)
  );
}

figure > figcaption {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 0.75;
  word-break: break-word;
  font-family: "blokk";
}

h2 {
  font-size: 2rem;
  font-size: var(--md-space);
  font-weight: 800;
  letter-spacing: 0.75px;
}

h3 {
  font-weight: 400;
  letter-spacing: 0.75px;
}

.genre_section .horizontal_media_scroller figure > picture {
  height: calc(var(--size) * 2);
  aspect-ratio: 4/3;
}

@supports (aspect-ratio: 1) {
  .horizontal_media_scroller figure > picture {
    width: auto;
    aspect-ratio: 1;
  }
  @media (max-width: 480px) {
    .genre_section:nth-child(3) .horizontal_media_scroller figure > picture {
      height: calc(var(--size) * 1.5);
    }
  }
}
